html, body
    {
        height: 100%;
    }

    body{
        margin: 0px;
        padding: 0px;
        background: black;
    }
    h1{
        text-align: center;
        padding: 10px;
        color: #ffffff;
    }
    p{
        margin: 20px;
        padding: 5px;
        color: #ffffff;
        font-size: 125%;
    }
    div{
        flex: wrap;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
    }
    img{
        width: 50%;
    }