html, body
    {
        height: 100%;
    }

    body{
        margin: 0px;
        padding: 0px;
        background: black;
    }
    h1{
        text-align: center;
        padding: 10px;
        color: #ffffff;
    }
    h2{
        color: blue;
    }
    p{
        margin: 20px;
        padding: 5px;
        color: #ffffff;
        font-size: 125%;
    }
    div{
        flex: wrap;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
    }
    img{
        width: 50%;
    }
    .group{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        padding: 15px;
    }
    .gundams{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        padding: 15px;
    }
    .home-button{
        margin-left: 0px;
        width: 5%;
    }